<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @loan.business_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loan.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan.amount %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @loan.duration %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @loan.expiry_date %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @loan.owner %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
